.nav-hamburger span,
.nav-hamburger span:before,
.nav-hamburger span:after  {
    cursor: pointer;
    display: block;
    position: absolute;
    border-radius: 1px;
    height: 0.35rem;
    width: 2rem;
    background: #fff;
    content: ''
}
.nav-hamburger span:before {
    top: -10px;
}
.nav-hamburger span:after  {
    bottom: -10px;
}
.hide {
    display: none;
}
